name: "Build MacOS app"

on:
  workflow_dispatch:

jobs:
  build-x86_64:
    runs-on: macos-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download params
        run: |
          mkdir -p $HOME/.zcash-params
          curl https://download.z.cash/downloads/sapling-output.params --output $HOME/.zcash-params/sapling-output.params
          curl https://download.z.cash/downloads/sapling-spend.params --output $HOME/.zcash-params/sapling-spend.params
      - name: Build Rust
        run: |
          cargo b -r --target=x86_64-apple-darwin --features=dart_ffi,sqlcipher,ledger
      - name: Cache rust library
        uses: actions/cache@v3
        env:
          cache_name: warp_x86_64-${{ github.context.sha }}
        with:
          path: target/x86_64-apple-darwin/release/libwarp_api_ffi.dylib
          key: $cache_name

  build-aarch64:
    runs-on: macos-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download params
        run: |
          mkdir -p $HOME/.zcash-params
          curl https://download.z.cash/downloads/sapling-output.params --output $HOME/.zcash-params/sapling-output.params
          curl https://download.z.cash/downloads/sapling-spend.params --output $HOME/.zcash-params/sapling-spend.params
      - name: Build Rust
        run: |
          rustup target add aarch64-apple-darwin
          cargo b -r --target=aarch64-apple-darwin --features=dart_ffi,sqlcipher,ledger
      - name: Cache rust library
        uses: actions/cache@v3
        env:
          cache_name: warp_aarch64-${{ github.context.sha }}
        with:
          path: target/aarch64-apple-darwin/release/libwarp_api_ffi.dylib
          key: $cache_name

  build_flutter:
    runs-on: macos-latest
    needs: [build-x86_64, build-aarch64]
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build vars
        run: |
          cat build.env >> $GITHUB_ENV
      - name: Download params
        run: |
          mkdir -p $HOME/.zcash-params
          curl https://download.z.cash/downloads/sapling-output.params --output assets/sapling-output.params
          curl https://download.z.cash/downloads/sapling-spend.params --output assets/sapling-spend.params
      - name: Cache x86_64 rust library
        uses: actions/cache@v3
        env:
          cache_name: warp_x86_64-${{ github.context.sha }}
        with:
          path: target/x86_64-apple-darwin/release/libwarp_api_ffi.dylib
          key: $cache_name
      - name: Cache aarch64 rust library
        uses: actions/cache@v3
        env:
          cache_name: warp_aarch64-${{ github.context.sha }}
        with:
          path: target/aarch64-apple-darwin/release/libwarp_api_ffi.dylib
          key: $cache_name
      - name: Merge rust library
        run: |
          mkdir -p target/universal/release
          lipo target/x86_64-apple-darwin/release/libwarp_api_ffi.dylib target/aarch64-apple-darwin/release/libwarp_api_ffi.dylib -output target/universal/release/libwarp_api_ffi.dylib -create
          cp zcash-sync/binding.h warp_api/ios/Classes/binding.h

      - name: Build
        run: |
          pushd $HOME
          git clone --branch $FLUTTER_VERSION --depth 1 https://github.com/flutter/flutter.git
          export PATH=$PATH:$HOME/flutter/bin
          popd
          flutter pub get
          dart run build_runner build -d
          (cd warp_api; flutter pub get)
          flutter build macos

      - name: Codesign
        env:
          CERT_PWD: ${{ secrets.MACOS_PWD }}
        run: |
          security create-keychain -p R5qx5GGokNBm build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p R5qx5GGokNBm build.keychain
          security import ./macos/certs/codesign.p12 -k build.keychain -P $CERT_PWD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k R5qx5GGokNBm build.keychain
          /usr/bin/codesign --force -s "Developer ID Application: Ycash Foundation (8VSA3BX4D8)" --deep --options runtime build/macos/Build/Products/Release/ywallet.app -v

      - name: Notarize
        env:
          NOTARIZATION_PWD: ${{ secrets.NOTARIZATION_PWD }}
        run: |
          xcrun notarytool store-credentials "notarytool-profile" --apple-id "foundation@ycash.xyz" --team-id "8VSA3BX4D8" --password "$NOTARIZATION_PWD"
          ditto -c -k --keepParent "build/macos/Build/Products/Release/ywallet.app" "notarization.zip"
          xcrun notarytool submit "notarization.zip" --keychain-profile "notarytool-profile" --wait
          xcrun stapler staple "build/macos/Build/Products/Release/ywallet.app"

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Package
        run: |
          python3 -m pip install packaging
          npm install -g appdmg
          (cd macos; appdmg app.json ../ywallet-universal.dmg)

      - name: Upload application
        uses: actions/upload-artifact@v3
        with:
          name: YWallet.dmg
          path: ywallet-universal.dmg
          retention-days: 3
